* {
  margin: 0;
  padding: 0;
}
body{
font-family: "Helvetica", "Arial", sans-serif;
line-height: 1.6;
font-size: 16px;
letter-spacing: 1px;

display: grid;
grid-template-columns: 1fr 2fr;
grid-gap: 16px;
grid-template-areas:
  "header  header"
  "aside    main"
  "footer  footer";
}


h2 {
  margin-bottom: 16px;
  padding-left: 16px;
  border-bottom: 1px solid #555;
}

p {
  padding: 16px;
}

header{
  grid-area: header;
  padding: 16px;
}

/*aside {
  grid-area: aside;
  padding: 16px;

}*/

main {
  grid-area: main;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "people-and-society   people-and-society  people-and-society"
    "communication          communication     communication"
    "enviroment             enviroment          enviroment";

  grid-gap: 16px;
}

footer {
  grid-area: footer;
  padding: 16px;

}

header, footer {
  background-color: rgba(158, 158, 158, 0.3);
}

aside {
  background-color: rgba(121, 85, 72, 0.3);
}

section {
  background-color: rgba(255, 152, 0, 0.3);

  width: 960px;
  overflow: auto;
}

img {
  float: right;
  width: 25%;
  padding: 16px;
  margin: 16px;
  border: 1px, solid, #eee;
}

#introduction {
  grid-area: aside;
  padding: 16px;
}

#people-and-society{
  grid-area: people-and-society;

}

#communication {
  grid-area: communication
}

#enviroment {
  grid-area: enviroment;

}
