* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-areas:
   "header   header  header"
   "nav      nav      nav"
   "main     main     main"
   "footer   footer    footer";
}

a,
a:link {
  color: rgb(0,0,255);
}

a:visited {
  color: rgb(128,0,128);
}

a:hover {
  color: rgb(255,0,0);
}

a:active {
  color: rgb(255,255,0);
}

p {
  font-family: "Times New Roman", "Georgia", "PT Serif", serif;
  padding: 16px;
}

header {
  grid-area: header;
  padding: 16px;
}

nav {
  grid-area: nav;
  background-color: rgba(121, 85, 72, 0.3);
}

main{
  width: 100%;
}

li a {
  display: inline;
}

section {
  background-color: rgba(255, 152, 0, 0.3);

}
#main-index {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "about-me services contact";

  grid-gap: 16px;
}

#music-main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "bones sata-maria piano";

  grid-gap: 16px;
}

#writing-main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "scarecrow heart boy";

  grid-gap: 16px;
}

#about-me{
  grid-area: about-me

}

#services{
  grid-area: services;
}

#contact{
  grid-area: contact;
}

#bones{
  grid-area: bones

}

#santa-maria{
  grid-area: santa-maria;
}

#piano{
  grid-area: piano;
}

#scarecrow{
  grid-area: scarecrow;

}

#heart{
  grid-area: heart;
}

#boy{
  grid-area: boy;
}

.mailbox{
  width: 30%;
  padding: 16px;
  margin: 16px;

}

.hello{
  width: 30%;
  padding: 16px;
  margin: 16px;
}

.insta{
  width: 30%;
  padding: 16px;
  margin: 16px;
}
